@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap');
body{

    font-family: "Poppins", sans-serif;
    user-select: none !important;
}
.required-field:after {
    content: '*';
    margin: 5px;
    width: 10px;
    height: 10px;
    color: red;
}

.image-container {
    position: relative;
}

.image-container img {
    height : 300px;
    width : 300px;
}

.bg-app{
    background-color: #2accff !important;
}

.blog-header{
    /*box-shadow: 1px 1px 100px 1px rgb(223, 223, 223);*/
}