.blog-header-logo{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.xxxfdgfdgd{
    background-image: url("https://images.top10.com/f_auto,q_auto/v1/production/charts/uploads/photo/bestdatingsites.20230515105530.jpg");
}