.post {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post h2 {
    margin: 0 0 10px;
}

.post p {
    margin: 0;
}
.post-list {
    max-width: 600px;
    margin: 0 auto;
}
