.profile-header {
    background-color: #f06393; /* Adjust color as needed */
    height: 15px;
}

.profile-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.follow-button {
    margin-top: 10px;
}

.nav-tabs {
    margin-bottom: 20px;
}









