.icon-circle {
    background-color: #f06292; /* Matches the pink color in your image */
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.btn-link {
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    color: #000000 !important;
}
.card-header {
    background-color: #f8f9fa;
    border-bottom: none;
}
.card {
    border: none;
}
.fas.fa-chevron-up {
    color: #000000;
    cursor: pointer;
}
.card-body {
    border-top: 1px solid #e9ecef;
}
.collapse-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 500px;
    transition: max-height 2s ease-out;
}
.collapsed {
    max-height: 500px;
}
.expanded {
    overflow: hidden;
    max-height: none;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
